body {
    font-family: poppins;
}

.brand-name {
    color: red;
    font-weight: bold;
    font-family: poppins;
    text-transform: capitalize;
}
.navbar {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.card {
    border: none;
}

.home {
    margin-top: 100px;
    text-align: center;
}

.myself-img {
    height: 150px;
    width: 100px;
    border-radius: 50%;
}