body {
    font-family: poppins;
}

.brand-name {
    color: red;
    font-weight: bold;
    font-family: poppins;
}
.navbar {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.profile-info {
    margin-top: 50px;
    height: ;
}