body{
    background-color: cadetblue;
}

.card  {
    border: none;
}
.card-content {
    background-color:cadetblue;
}
#about {
    text-align: center;
}
.btn {
    border-radius: 10px;
}
.myprofileimg {
    position: absolute;
}